<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>About</title>

  <!-- Bootstrap core CSS -->
  <link href="/stylesheets/style.css" rel="stylesheet">
  <link href="/stylesheets/simple-sidebar.css" rel="stylesheet">

</head>

<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <script src='/javascripts/sidebar.js'></script>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
      <div class="container-fluid">

        <div id="padding">
          <h1 class="mt-4"> About the Project</h1>
          <p>This is placeholder text.</p>
        </div>
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->
  <script src="https://momentjs.com/downloads/moment.min.js"></script>
  <script src="/javascripts/jquery.min.js"></script>
  <script src='/javascripts/jsonCustomDisplayer.js'></script>
  <script src='/javascripts/displayInfo.js'></script>
  <script src="https://kit.fontawesome.com/a9b1673cea.js" crossorigin="anonymous"></script>

</body>

</html>
