<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">

  <title>Daily</title>

  <!-- Bootstrap core CSS -->
  <link href="/stylesheets/style.css" rel="stylesheet">
  <link href="/stylesheets/top-nav.css" rel="stylesheet">
  <link href="/stylesheets/aggregate.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet"> 
</head>

<body>
  <script src='/javascripts/sidebar.js'></script>

  <div class="d-flex" id="wrapper">
    <!-- Page Content -->
    <div id="page-content-wrapper">
      <div class="container-fluid">

        <div class="header" id="header"> 
          <div class=title_box>
            <p class="title" id="header-title"> Loading... </p>
          </div>
        </div>
  
        <div class="button-container hidden">
          <button onclick="chart.displayChart('hashtags', chart.charts.hashtags)"> <i class="fab fa-slack-hash"></i> </button>
          <button onclick="chart.displayChart('words', chart.charts.words)"> <i class="fa fa-comments"></i> </button>
          <button onclick="chart.displayChart('emojis', chart.charts.emojis)"> <i class="fa fa-grin-squint-tears"></i> </button>
          <button onclick="chart.displayChart('accounts', chart.charts.uniqueaccountmap)"> <i class="fa fa-user-circle"></i> </button>
          <button onclick="chart.displayChart('sentiment (positivity, negativity)', chart.charts.sentiment)"> <i class="fa fa-heart"></i> </button>
        </div>

        <div id="padding" style="user-select: none"> 
          <p class="description" id="description"> </p> 
          <canvas id="timeline-graph" width="400" height="220"></canvas>
        </div>

      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <script src="https://momentjs.com/downloads/moment.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script src="/javascripts/jquery.min.js"></script>
  <script src='/javascripts/aggregateDisplay.js'></script>
  <script src='/javascripts/displayInfo.js'></script>
  <script src="https://kit.fontawesome.com/a9b1673cea.js" crossorigin="anonymous"></script>


</body>

</html>
