.header {
	background-color: var(--header-background-color);
	padding: 25px;
	padding-top: 5px;
	padding-bottom: 0;
	width: 100%;
	height: 100%;
	border: 0;
}

.header p {
	color: var(--header-text-color);
	margin: 0;
}

.title_box {
	position: static;
	height: 60px;
}

.title {
	font-weight: 900;
	font-size: 35px;
	margin: 0;
}

.emoji_key {
	margin: 0;
	text-align: left;
	font-size: 30px;
}

.stat_box {
	padding-left: 1px;
	padding-right: 8px;
	padding-top: 4px;
	display: inline-block;
}

.stat_box:last-child {

}

.stat_key {
	margin: 0;
	text-align: left;
}

.stat_value {
	color: var(--farms-light) !important;
	margin-top: -5px;
	text-align: left;
	font-size: 18px;
}

.stat_container {
}
