.daily_card p {
	color: #f8f8f2;
	margin: 0;
}

.daily_card {
	margin-top: 20px;
	border-radius: 15px;
	padding: 15px;
	width: 100%;
	height: 100%;
	border: 0;
}

.title_box {
	position: static;
	height: 60px;
}

.title {
	font-weight: 800;
}


.emoji_container {

}

.emoji_box {
	padding: 8px;
	padding-top: 0;
	display: inline-block;
	float: right;
}

.emoji_box:first-child {
	animation: bounce 3s ease infinite;
}

.emoji_key {
	margin: 0;
	text-align: center;
}

.emoji_value {
	margin-top: -10px;
	text-align: center;
}

.word_box {
	padding: 8px;
	padding-top: 0;
	display: inline-block;
}

.word_box:first-child {
	animation: bounce 3s ease infinite;
}

.word_key {
	margin: 0;
	text-align: center;
}

.word_value {
	margin-top: -5px;
	text-align: center;
	font-size: 15px;
}



@keyframes bounce {
     60% {
          transform: scale(1.1);
          opacity: 1;
     }
}
